<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div>
    <nz-date-picker formControlName="date"></nz-date-picker>
  </div>

  <div>
    <input type="checkbox" id="onNextSync" name="onNextSync" formControlName="onNextSync" />
    <label for="onNextSync">Wait until next Data Sync</label>
  </div>

  <div>
    <input type="radio" name="effectivity" id="normal" value="NORMAL" formControlName="effectivity" />
    <label for="normal">Normal</label>
  </div>
  <div>
    <input type="radio" name="effectivity" id="express" value="EXPRESS" formControlName="effectivity" />
    <label for="normal">Express</label>
  </div>
  <div>
    <input type="radio" name="effectivity" id="delayed" value="DELAYED" formControlName="effectivity" />
    <label for="normal">Delayed</label>
  </div>

  <div>
    <select id="reason" name="readon" formControlName="reason">
      <option *ngFor="let item of deactivateReasons" [value]="item.value">
        {{ item.label }}
      </option>
    </select>
  </div>

  <div>
    <button nz-button nzType="primary">Schedule Deactivation</button>
  </div>

  <div> Recent Events of </div>

  <div>
    <textarea name="comment" id="comment" formControlName="comment" placeholder="Optional Comment"> </textarea>
  </div>

  <div>
    <button nz-button nzType="primary">Deactivate Now</button>
  </div>

  <div>
    <button nz-button nzType="default">cancel</button>
  </div>
</form>
